@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Bree Serif:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  body{
    min-height: 200vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  nav{
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
  }
  nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  nav li{
    height: 50px;
  }
  nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
  }
  nav a:hover{
    color: black;
    text-decoration: none;
    background-color: #fff;
    
  }
  nav li:first-child{
    margin-right: auto;
  }
  .sidebar{
    position: fixed;
    top: 0; 
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .sidebar li{
    width: 100%;
  }
  .sidebar a{
    width: 100%;
  }
  .menu-button{
    display: none;
  }
  button{
    color: #fff;
    padding: 10px 25px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
  }
  .content{
    columns: #fff;
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    z-index: 2;
  }
  h1{
    font-size: 80px;
    margin: 10px 0 30px;
    line-height: 80px;
  }
  .home-bg-container {
    background-image: url('https://assets.ccbp.in/frontend/static-website/flats-list-bg.png');
    height: 100vh;
    background-size: cover;
}

.home-card {
    background-color: #ffffff;
    border-radius: 15px;
    text-align: center;
    margin-top: 480px;
    height: 100vh;
}

.home-card-heading {
    font-family: Bree Serif;
    color: #f19116;
    font-size: 32px;
    padding-top: 30px;
}

.home-card-para {
    font-family: Bree Serif;
    color: #7b8794;

}

.home-card-button {
    background-color: #f19116;
    margin-top: 20px;
}

.FlatsListpage-bg-container {
    background-color: #222222;
    height: 110vh;
    width: 100vw;
}

.FlatsListpage-bg-card {
    background-color: #ffffff;
    border-radius: 15px;
    margin: 15px;
}

.FlatsListpage-bg-card img{
  background-size: cover;
  height: 100%;
}

.FlatsListpage-bg-top-head {
    color: #f19116;
    font-family: Bree Serif;
    margin-left: 15px;
}

.img {
    height: 190px;
    width: 80px;
    margin-right: 4px;
}

.FlatsListpage-card-head {
    color: #0f0e46;
    font-family: Bree Serif;
    margin: 7px;
    font-weight: bold;
}

.FlatsListpage-card-para {
    color: #6c6b70;
    font-family: Bree Serif;
    margin: 7px;
}

.card-button {
    background-color: #f19116;
    margin-left: 15px;
}

.img2 {
    height: 250px;
    width: 100vw;
    background-size: cover;
}

.loc {
    height: 20px;
    width: 20px;
    margin-left: 15px;
}

.t3bhk-heading {
    color: #f19116;
    font-family: Bree Serif;
    margin: 15px;
}

.t3bhk-loc {
    color: #ffffff;
    font-family: Bree Serif;
    margin-left: 10px;
}

.t3bhk-disc {
    color: #ffffff;
    font-family: Bree Serif;
    margin-left: 15px;
    font-size: 17px;
}

.t3bhk-top-disc {
    color: #f19116;
    font-family: Bree Serif;
    margin-left: 15px;
}

.buttn-align {
    text-align: center;
    margin-top: 15px;

}

.hr-style {
    border: 1px solid #ffffff;
}
  
  
  
  
  @media(max-width: 800px){
    .hideOnMobile{
      display: none;
    }
    .menu-button{
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    h1{
      font-size: 36px;
      line-height: 50px;
    }
  }
  @media(max-width: 400px){
    .sidebar{
      width: 100%;
    }
  }